$primary-color: #334659; 
$secondary-color: #cd3739;
$background-color: #ffffff; 
$neutral-color: #404040; 

$text-primary: #000000; 
$text-secondary: #233544; 
$text-muted: #586B7C; 
$text-light: #9E9E9E; 
$text-extra-light: #E0E0E0; 

$icon-color: #2E465B; 

$font-light: 'FontName-Light', sans-serif; 
$font-regular: 'FontName-Regular', sans-serif; 
$font-demibold: 'FontName-DemiBold', sans-serif;
$font-black: 'FontName-Black', sans-serif;
